@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Create";
}
<br />
<br />
<head>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            showToast();
        });

        function showToast() {
            var toaster = document.getElementById('toaster');
            toaster.classList.add('show'); // Show the toaster

            // Hide the toaster after  3 seconds
            setTimeout(function () {
                toaster.classList.remove('show');
            }, 3000);
        }
    </script>
    <br />
</head>
<h1>Create Role</h1>
<hr />
<div class="toast-body alert-success">
   New Role has been created!
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color: green" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

 @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }