@using E_LearningWebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using E_LearningWebApp.Models


@inject SignInManager<E_LearningWebAppUser> SignInManager
@inject UserManager<E_LearningWebAppUser> UserManager

<head>
    <meta charset="utf-8">
    <meta Content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Temari-Online School</title>
    <meta Content="" name="description">
    <meta Content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>iofrm</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/content/iofrm-form/css/style.css">
        <link rel="stylesheet" href="~/content/iofrm-form/css/responsive.css">
    

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/vendor/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="~/content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel ="stylesheet" href="~/content/assets/css/style.css" >
    <style>
        .home-links{
            color: black;
        }

        .home-links:hover {
                color: #4CAF50;
        }
    </style>
</head>


<body>

    <!-- ======= Header ======= -->

    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto" style="color: green"><a href="index.html">TEMARI</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <!--use the below commented li on admin layout-->
                     <li class="nav-item">
                    <a class="home-links" asp-area="Identity" asp-controller="Role" asp-action="Index">Roles</a>
                    </li>
@*                     <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Admin</a>
 *@                    @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li> *@
                    @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="User" asp-action="ListUsers">User</a>
                    </li> *@
                    <li class="nav-item">
                        @* <a class="nav-link text-dark" asp-controller="Home" asp-action="Courses">Courses</a> *@
                        <a class="home-links" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li><a class="home-links" href="#about">About</a></li>
                    <li class="nav-item">
                        @* <a class="nav-link text-dark" asp-controller="Home" asp-action="Courses">Courses</a> *@
                        <a class="home-links" asp-controller="Course" asp-action="CourseDisplay">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="home-links" asp-controller="Course" asp-action="Concepts">Concepts</a>
                    </li>


                    


                   @*  <li><a href="#trainers">Trainers</a></li> *@

                    <li class="nav-item">
                        <a class="home-links" asp-controller="Home" asp-action="ContactUss">Contact</a>
                    </li>

                    <li><i class="bi bi-list mobile-nav-toggle"></i></li>
                    <li><a class="home-links" href="#devs">Developers</a></li>
                    </ul>
            </nav>
            <a class="get-started-btn" asp-area="Identity" asp-page="/Account/Login">Get Started</a>

            @* <a class="get-started-btn" asp-controller="Admin" asp-action="Index">Admin</a> *@
        </div>

        <div class="container d-flex align-items-center">
        </div>
    </header>

    


   

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-Content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

</body>
@RenderSection( "Scripts",required:false)
 @RenderBody()
    


