@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "UserLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>Job resources</title>
    <link rel="stylesheet" href="~/Content/css/courses.css">
    <style>
        .partition p a {
            color: black;
        }
    </style>
</head>
<body>

    @* <aside>
        <img src="~/Content/logincss/logo.jpg" alt="">
        <nav>
            <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            <a href="#"><i class="fas fa-book"></i> Courses</a>
            <a href="#"><i class="fas fa-chart-bar"></i> Grades</a>
            <a href="#"><i class="fas fa-lightbulb"></i> Concepts</a>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                Statistics
            </a>

            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>

    </aside>

    <header>
        <h2>Job search resources</h2>
        <div class="prof">
            <a href="#"><i class="fas fa-user"></i> Yordanos</a>
        </div>
    </header>*@

    <main> 
        <div id="partitions">

            <div class="partition">
                <h2>ReadMe [Regardless of Goals]</h2>

                <p><a href="https://intranet.alxswe.com/rltoken/51r_lXlMJh4mUtHP4GGfqA" title="Reality of Job Searching" target="_blank">Reality of Job Searching</a></p>
                <p><a href="https://intranet.alxswe.com/rltoken/Bt85xlh1c_jWDnMkoPMP2g" title="Cracking the coding interview" target="_blank">Cracking the coding interview</a></p>
                <p><a href="https://intranet.alxswe.com/rltoken/_q4-F1FwjQMCN-ORKtE4rg" title="Ace the coding interview" target="_blank">Ace the coding interview</a></p>


            </div>

            <div class="partition">
                <h2>Fullstack/Backend</h2>

                <p><a href="https://intranet.alxswe.com/rltoken/3HHRrqugFeZs4KE6d0vs7Q" title="Get that job at google" target="_blank">Get that job at Google</a></p>
                <p><a href="https://intranet.alxswe.com/rltoken/TYN3Omsn7cp-DPzr3k-qug" title="Tech interview handbook" target="_blank">Tech interview handbook</a></p>

            </div>

            <div class="partition">
                <h2>Coding Tools</h2>

                <p><a href="https://intranet.alxswe.com/rltoken/_36qeKZlfOw0yaeTufn11g" title="The HackerRank Interview Preparation Kit" target="_blank">The HackerRank Interview Preparation Kit</a></p>
                <p><a href="https://intranet.alxswe.com/rltoken/sms8IFErr4TWfc91D43moA" title="Top 100 Interview questions via LeetCode" target="_blank">Top 100 Interview questions via LeetCode</a></p>


            </div>
            <div class="partition">
                <h2>Front End Specific</h2>

                <p><a href="https://intranet.alxswe.com/rltoken/NUfXHQrLvYrGZ63niOmGZw" title="Cracking the Front-end Interview" target="_blank">Cracking the Front-end Interview</a></p>

                <p><a href="https://intranet.alxswe.com/rltoken/GSKNTDOjIvgaYV0IO1m18Q" title="Front-End Interview Handbook" target="_blank">Front-End Interview Handbook</a></p>

                <p><a href="https://intranet.alxswe.com/rltoken/WtO03Ej5ynCcskJUFuPEDg" title="A Very Comprehensive Guide to Front-End Interview Prep" target="_blank">A Very Comprehensive Guide to Front-End Interview Prep</a></p>
            </div>
        </div>
    </main>
</body>
</html>
