@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Assuming you have a certificate template in your view -->
<html>
    <body>
    <div class="certificate">
        <h1>Certificate of Completion</h1>
        <p>This is to certify that <span id="name"></span> has completed the course <span id="course"></span>.</p>
        <!-- More design elements -->
    </div>

    </body>
</html>
