@model Admin
@* @using E_LearningWebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using E_LearningWebApp.Models

@inject SignInManager<E_LearningWebAppUser> SignInManager
@inject UserManager<E_LearningWebAppUser> UserManager *@

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <title>User Dashboard</title>
    <link rel="stylesheet" href="~/Content/css/courses.css">



</head>
<body>

    @* badge *@
    <br />
   
    <br />
    
    <head>
        <title>Toaster Example</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                showToast();
            });

            function showToast() {
                var toaster = document.getElementById('toaster');
                toaster.classList.add('show'); // Show the toaster

                // Hide the toaster after  3 seconds
                setTimeout(function () {
                    toaster.classList.remove('show');
                }, 3000);
            }
        </script>
    </head>
    <body>
        <!-- Toaster element -->
        <div id="toaster" class="toast alert-success top-50" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
          @*  <div class="toast-header">
                 <strong class="mr-auto">Registered</strong> 
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  *@
            <div class="toast-body alert-success">
               Welcome Back!
            </div>
        </div>

        <!-- Include Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>


    @* ===== *@


     <!-- ======= Header ======= -->
    @* <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">Mentor</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-controller="Role" asp-action="Index">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Course" asp-action="Index">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">DashBoard</a>
                    </li>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </ul>
            </nav>
          

        </div>
    </header> *@
    <div id="partitions">
        <div class="partition">
            <h2>Hey there admin</h2>
            <p>Wazzzzzzzzup with you?</p>
        </div>

        <div class="partition">
            <p> for admin</p>
            <iframe src=" https://calendar.google.com/calendar/u/0/r?cid=bb4413e32908bcbfbd0bbdcd2cb1ec88df39ecfe6efe995fd5c83bf55b4f2679@group.calendar.google.com" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            <p>for user</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%237CB342&ctz=Africa%2FNairobi&showPrint=0&src=YmI0NDEzZTMyOTA4YmNiZmJkMGJiZGNkMmNiMWVjODhkZjM5ZWNmZTZlZmU5OTVmZDVjODNiZjU1YjRmMjY3OUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>

    </div>
</body>
</html>
